<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Weather Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EE175AB1B641FE20075BB17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE175C41B641FE30075BB17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE175D81B6420020075BB17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8633A7A1B65C85900ED6052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
